<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joris.fdj">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FDJApplication"
        android:networkSecurityConfig="@xml/network_security_config" />

</manifest>